- current_user.groups.each do |group|
  = link_to group_messages_path(group), class: "side__groups__group" do
    .side__groups__group--groupname
      = group.name
    .side__groups__group--message
      = group.show_last_message

-# = link_to "", class: "side__groups__group" do
-#   .side__groups__group--groupname
-#     test-group
-#   .side__groups__group--message
-#     こんにちわ


-# 不要なファイルです。メモのために残しています。