.side {
  width: 300px;
  height: 100%;
  &__header {
    height: 100px;
    background-color: #253141;
    color: $mainWhiteColor;
    padding: 0 20px;
    display: flex;
    line-height: 100px;
    &--username {
      font-size: 16px;
      font-weight: bold;
      margin-right: auto;
    }
    &--icon {
      color: $mainWhiteColor;
      margin-left: 5px;
    }
  }
  &__groups {
    height: 100vh;
    background-color: #2f3e51;
    color: $mainWhiteColor;
    padding: 20px;
    &--groupname {
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 5px;
    }
    &--message {
      font-size: 11px;
      font-weight: bold;
      margin-bottom: 40px;
    }
  }
}
